@model TheSocialNetwork.DomainModel.Entities.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            <img src="@Model.PhotoUrl" style="max-height:200px;width:auto" />
        </dd>

        @foreach (var friend in Model.Friends)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => friend.Name)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => friend.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => friend.PhotoUrl)
            </dt>
            <dd>
                <img src="@friend.PhotoUrl" style="max-height:200px;width:auto" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
