@model TheSocialNetwork.DomainModel.Entities.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            <img src="@Model.PhotoUrl" style="max-height:200px;width:auto" />
        </dd>
    </dl>
</div>

<div>
    <h4>Profile Friends</h4>
    <hr />
    @foreach (var friend in Model.Friends)
    {
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(modelItem => friend.Name)
            </dd>
            <dd>
                <img src="@friend.PhotoUrl" style="max-height:200px;width:auto" />
            </dd>
            <dd>
                @Html.ActionLink("Details", "Details", new { id = friend.Id })
                @if (Session["profileId"].ToString() == Model.Id.ToString())
                {
                    @Html.ActionLink("UnFriend", "UnFriend", new { id = friend.Id })
                }
            </dd>
        </dl>
    }
    @if (Model.Friends.Count == 0)
    {
        <dl class="dl-horizontal">
            <dd>
                <h5>No Friends... =(</h5>
            </dd>
        </dl>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
